html, body {
	margin: 0;
	padding: 0;
	font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
	background-color: rgb(245,245,255);
}

body {
	padding: 20px;
}

div#wrapper1 {
	margin: 0 auto;
	width: 900px;
	background-color: white;
	border: 3px solid rgb(241,241,241);
}

div#wrapper2 {
	border: 1px solid rgb(230,230,230);	
}

div#content, div#header {
	padding: 0 20px;
	background-color: white;
}

div#header {
	height: 115px;
	border-bottom: 1px solid black;
	z-index: 1;
	position: relative;
	font-family: Verdana,Geneva,sans-serif;
}

div#content {
	overflow: auto;
	padding-top: 30px;
	font-size: 17px;
	line-height: 1.5em;
	border-top: 0;
}

ul#menu {
	margin: 0;
	padding: 13px 10px 0 0;
	text-align: right;
}

ul#menu li {
	display: inline;
	margin: 0;
	padding: 0;
}

ul#menu a, ul#menu a:link, ul#menu a:visited, ul#menu a:hover {
	display: inline-block;
	border-bottom: 4px solid #a03f50;
	font-size: 18px;
	/*font-weight: bold;*/
	letter-spacing: 4px;
	height: 1.5em;
	margin: 0 12px;
	text-decoration: none;
	color: black;
}

p#description {
	position: absolute;
	right: 0;
	bottom: 6px;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-style: italic;
	letter-spacing: 4px;
}

p#brand {
	margin: 0;
	padding: 0;
	width: 362px;
	height: 175px;
	position: absolute;
	left: -60px;
	top: 6px;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

p#brand span {
	display: none;
}


p.copyright {
	font-size: 12px;
	color: rgb(150,150,150);
	text-align: center;
	border-top: 1px solid rgb(150,150,150);
	clear: both;
	padding: 6px 0;
	margin: 0 50px;
}

a, a:link, a:visited, a:hover {

}

a.external {
	background-image: url("images/link_external.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 14px;
}

div {
	padding: 0;
	margin: 0;
}

p {
	margin-top: 0;
}

pre {
	background-color: black;
	color: white;
	padding: 5px;
	font-family: "consolas","lucida console","courrier new",courrier,monospace;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.4em;
	/*background-image: url("images/code.png");*/
	background-repeat: no-repeat;
	background-position: 100% 0;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

span.inline_code {
	background-color:#F5F5F5;
	border:1px solid #BEBEBE;
	font-family:"consolas","lucida console","courrier new",courrier,monospace;
	font-size:0.9em;
}

h1 {
	text-align: right;
	font-size: 32px;
	margin: 10px 20px 40px 0;
	font-weight: normal;
	letter-spacing: 4px;
}

h2 {
	margin: 30px 0;
	font-size: 18px;
	letter-spacing: 4px;
	font-weight: normal;
	line-height: normal;
	border-bottom : 1px solid black;
}

h1, h2, h3, h4 {
	font-family: Verdana,Geneva,sans-serif;
}